html{
  line-height: 0px;
}

table{
  border-collapse:collapse;
  border-spacing:0px;
  margin-left:50px;
  margin-top:50px;
}

h3{
  margin-left:50px;
  margin-bottom:30px;
}

tr,td{
  padding:0px;
  margin:0px;
}

span{
  #margin-left:40px;
  #letter-spacing:-2px;
  #color:gray;
}

button{
  width:50px;
  height:50px;
  background-color:gray;
  border-width: thin;
  border-color: gray;
}

button.player1{
  background-color:blue;
}

button.player2{
  background-color:red;
}
