<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>
    <title>ブロック</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}
      <table>
        {% for goban_row_list in goban_list %}
  　    <tr>
          {% for goban_column in goban_row_list %}
            {% if goban_column == 0 %}
              <td><button id = {{forloop.parentloop.counter0}}{{forloop.counter0}}></button></td>
            {% else %}
              {% if goban_column == 1 %}
                <td><button class="player1" disabled="disabled"></button></td>
              {% else %}
                <td><button class="player2" disabled="disabled"></button></td>
              {% endif %}
            {% endif %}
          {% endfor %}
       </tr>
       {% endfor %}
      </table>
    </form>
  </body>
</html>
